[user]
	email = anantkaurav53@gmail.com
	name = AnantTux
[safe]
	directory = D:/Dev Stuff
	directory = D:/Auto-hot Key Scripts
[core]
	pager = delta
	autocrlf = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
